@page "/"
@page "/index"
@inject ICountryRepository countryRepo

<div>
    <h3>Countries</h3>
    <CountriesList Countries="Countries" />
</div>



<br />

@code{
    private List<Country> Countries;

    protected async override Task OnInitializedAsync()
    {
        var model = await countryRepo.GetCountries();
        Countries = model;
    }

}
